#Ignore vendor and nore_modules directory
/vendor
/node_modules/

#Ignore environment files
.env

#ignore IDE specific files
.phpstorm.meta.php
.phpstorm.meta.php.un~
.vscode/
.idea/

#Ignore public/hot directory
/public/hot

#Ignore Mix's temporary files
/public/mix-manifest.json
/public/js
/public/css

#ignore compiled applications
Homestead.yaml
Homestead.json
Valetfile
.env.*

#Ignore MacOS system files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Icon

#ignore files generatedby the artisan command line tool
/artisan

#Ignore npm debug log
npm-debug.log

#Ignore tests' fixtures
tests/Fixtures/


